<h1>Guadería primer camino</h1>


<br><br><br><br>

<table>
  <tr>
    <td>
      <button
        type="button"
        class="btn btn-primary actividad"
        (click)="actividades()"
      >Actividades</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary planificacion"
        (click)="planificaciones()"
      >Planificaciones</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary comedor"
        (click)="comedores()"
      >Comedores</button
      ><br />
    </td>
  </tr>
  <br />
  <tr>
    <td>
      <button
        type="button"
        class="btn btn-primary profesor"
        (click)="profesores()"
      >Profesores</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary horario"
        (click)="horarios()"
      >Horarios</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary alergia"
        (click)="alergias()"
      >Alergias</button
      ><br />
    </td>
  </tr>
  <br />
  <tr>
    <td>
      <button
        type="button"
        class="btn btn-primary grupos"
        (click)="gruposNivel()"
      >Grupos por nivel</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary representante"
        (click)="representantes()"
      >Representantes</button
      ><br />
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary menor"
        (click)="menores()"
      >Niños</button
      ><br />
    </td>
  </tr>
</table>
<br /><br /><br />
